$PrimeColorsMap:(
 "one":hsl(180, 66%, 49%),
 "two":hsl(257, 27%, 26%),
);
$SecondeColor : hsl(0, 87%, 67%) ; 
$NaturelColorsMap:(
 "one": hsl(0, 0%, 75%),
 "two":hsl(257, 7%, 63%),
 "three":hsl(255, 11%, 22%),
 "four":hsl(260, 8%, 14%)
);
$WeightTypes:(
 "one":500,
 "two":700
);
$FontSize:18px;